<section id="press">
    <div class="section-container reveal">
        <h2 class="section-title">In the News</h2>
        <table class="talks-table">
            {% for item in site.data.press %}
            <tr class="talk-row">
                <td class="talk-date">{{ item.date }}</td>
                <td class="talk-content">
                    <a href="{{ item.url }}">{{ item.title }}</a> &mdash; <em>{{ item.outlet }}</em>
                    {% if item.note %}<br>{{ item.note | markdownify | remove: '<p>' | remove: '</p>' | strip }}{% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
